<h1>태그 입력</h1>

<form action="/post/create_tag">
    <input type="text" name="tag[name1]">
    <input type="text" name="tag[name2]">
    <input type="text" name="tag[name3]">
    <input type="text" name="tag[name4]"><br/>
    <input type="submit">
</form>
    
    
    